.row{
    display: flex;
    width: 100%;
}

.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-80{
    width: 80%;
}

.button{
    cursor: pointer;
    border: 1px solid black;
    display: inline;
    padding: 5px;
}

.grid-row{
    display: flex;
}

.grid-box{
    width: 20%;
    height: 15vh;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid black;
}

@media (min-device-width: 1000px){
    .col-10{
        min-width: 100px;
    }

    .col-20{
        min-width: 200px;
    }

    .col-40{
        min-width: 400px;
    }

    .col-50{
        min-width: 500px;
    }

    .col-80{
        min-width: 800px;
    }
}