/* General Styling
 * Default styling if for Mobile
 */

.row{
    display: flex;
    width: 100%;
}

.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
}

.col-100{
    width: 100%;
}

.button{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    display: inline;
    padding: 8px;
    color: #DADDE7;
    margin-right: 10px;
}

.pic{
    margin-top: 5vh;
    margin-left: 5vw;
    height: 20vh;
    width: 35vw;
}

#grid-buttons{
    display: flex;
    margin-top: 10px;
}

#genButton{
    background: #24A21C;
    border: 1px solid #24A21C;
}

#printButton{
    background: #2048B9;
    border: 1px solid #2048B9;
}

iframe{
    visibility: hidden;
}

img{
    width: 100%;
    height: 100%;
}

form{
    width: 90%;
    margin: 5vh 0;
}

ul{
    padding: 0px 5vw 0vh;
    margin-bottom: 0;
}

ol{
    padding: 0px 5vw 5vh;
}

.grid-row{
    display: flex;
}

.grid-box{
    width: 20%;
    height: 15vh;
    min-width: 40px;
    min-height: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
}

.box-title{
    font-size: 20px;
}

@media print{
    .grid-box{
        width: 10%;
        height: 7vh;
    }
}

@media (min-device-width: 1000px){
    #disk-pic{
        margin: 0;
        width: 250px;
        height: 150px;
    }
    
    #grid-pic{
        width: 90%;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .grid-box{
        font-size: 16px;
    }
    
    body{
        margin: auto;
        width: 65%;
        border-radius: 5px;
        border: 2px solid #6B5D5D;
        padding: 10px;
    }
    
    ul{
        padding: 0px 5vw 0vh;
    }

    ol{
        padding: 0px 5vw 5vh;
    }
}